@defer (base.html; active_page="Discover"; playing_info=playing_info) {
  <div id="discover-page" class="flex flex-col gap-6 px-4">
    <div
      class="pt-safe-or-4 sticky top-0 z-10 flex justify-between gap-4 bg-black/80 pb-4 backdrop-blur-md"
    >
      <h1 class="text-3xl font-bold tracking-tight">Discover</h1>

      <select
        id="genre-select"
        hx-preserve
        class="btn btn-primary"
        name="genre_id"
        hx-get="/discover"
        hx-trigger="change"
        hx-target="#discover-page"
        hx-swap="outerHTML"
        hx-push-url="true"
      >
        <option value="">All genres</option>

        @for (genre in genres) {
          <option value="{{ genre.id }}">
            {{ genre.name }}
          </option>
        }
      </select>
    </div>

    <div
      class="animate-in fade-in slide-in-from-bottom-4 flex flex-col gap-24 duration-500"
    >
      @defer (
        discover-album-section.html;
        title="New releases";
        albums=discover.new_releases
      ) {}

      @defer (
        discover-playlists.html;
        playlists=playlists;
        tags=discover.playlists_tags;
        selected_genre=selected_genre
      ) {}

      @defer (
        discover-album-section.html;
        title="Qobuzissime";
        albums=discover.qobuzissims
      ) {}

      @defer (
        discover-album-section.html;
        title="Essential Discography";
        albums=discover.ideal_discography
      ) {}

      @defer (
        discover-album-section.html;
        title="Album of the week";
        albums=discover.album_of_the_week
      ) {}

      @defer (
        discover-album-section.html;
        title="Press Accolades";
        albums=discover.press_awards
      ) {}

      @defer (
        discover-album-section.html;
        title="Most streamed";
        albums=discover.most_streamed;
        tags=discover.playlist_tags
      ) {}
    </div>
  </div>
}
