<div
  data-sse="tracklist"
  hx-trigger="tracklist"
  hx-get="/favorites/tracks/partial"
  hx-target="this"
  hx-swap="outerHTML"
>
  <div class="flex justify-end p-2">
    <button
      class="btn btn-secondary btn-icon"
      hx-swap="none"
      hx-put="/favorites/tracks/shuffle"
      title="Shuffle"
    >
      @defer (icons/shuffle.html) {}
    </button>
  </div>

  @defer (
    list-tracks.html;
    now_playing_id=playing_info.now_playing_id;
    click="/api/track/play/";
    api_by_id=true;
    tracks=tracks;
    show_track_cover=true;
    show_artist=true;
    is_favorite=true
  ) {}
</div>
